{% extends 'layout.html.twig' %}

{% block content %}

    <div class="b_start block1">
        <h1 class="logo">{% trans %}DiploGame{% endtrans %}</h1>

        <h2>{% trans %}Sign in{% endtrans %}</h2>
        {{ form(form) }}
        <div class="b_reg_start">
            <?= Html::a(Yii::t('frontend', 'Sign up'), ['/signup']) ?>
        </div>
    </div>

{% endblock %}