{% extends 'layout.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block content %}

    <div class="b_start block1">
        <h1 class="logo"><a href="{{ path('mainpage') }}">{% trans %}DiploGame{% endtrans %}</a></h1>

        <h2>{% trans %}Sign up{% endtrans %}</h2>
        {{ form(signUpForm) }}
        <div class="b_reg_start">
            <a href="{{ path('app_login') }}">Sign in</a>
        </div>
    </div>

{% endblock %}