{% if game.master == user %}
    {% set isMaster = 1 %}
{% else %}
    {% set isMaster = 0 %}
{% endif %}
<div id="b_game_info" data-game-id="{{ game.id }}">
    <h2>{{ game.title }}</h2>

    <h4 class="point_title">{% trans %}Game Master{% endtrans %}: {{ game.master.displayName }}
        {% if isMaster %}
            ({% trans %}You{% endtrans %})
        {% endif %}</h4>

    <h4 class="point_title">{% trans %}State{% endtrans %}: {{ game.status | trans }}</h4>

    <h4 class="point_title">{% trans %}Players{% endtrans %}:</h4>

    <div class="point_content" id="game_participants">
        {% if game.players is empty %}
            <p class="point_row">
                <span>{% trans %}No players yet{% endtrans %}</span>
            </p>
        {% else %}
            {% for player in game.players %}
                <div class="point_row row mb-2">
                    <div class="col">{{ player.user.displayName }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <h4 class="point_title">{% trans %}Requests{% endtrans %}:</h4>

    <div class="point_content" id="game_participants">
        {% if game.claimers is empty %}
            <p class="point_row">
                <span>{% trans %}No requests yet{% endtrans %}</span>
            </p>
        {% else %}
            {% for claimer in game.claimers %}
                <div class="point_row row mb-2" data-id="{{ claimer.id }}">
                    <div class="col">
                        {{ claimer.user.displayName }}
                    </div>
                    <div class="col">
                        {% if isMaster %}
                            <button class="accept_claim btn btn-sm btn-primary"
                                    data-url="{{ path('cabinet/accept', {gameId: game.id, userId: claimer.user.id}) }}"
                                    data-user-id="{{ claimer.id }}">{% trans %}Accept{% endtrans %}</button>
                            <button class="refuse_claim btn btn-sm btn-danger"
                                    data-url="{{ path('cabinet/refuse', {gameId: game.id, userId: claimer.user.id}) }}"
                                    data-user-id="{{ claimer.id }}">{% trans %}Refuse{% endtrans %}</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id="game_actions">
        {% if userRole is empty %}
            {% if isMaster %}
                {% if game.isOpen %}
                    <button class="start_game btn btn-success">{% trans %}Start game{% endtrans %}</button>
                    <button class="cancel_game btn btn-danger">{% trans %}Cancel game{% endtrans %}</button>
                {% elseif game.isActive %}
                    <a href="/{{ game.module.tag }}/{{ game.id }}"
                       class="btn btn-primary">{% trans %}To GM cabinet{% endtrans %}</a>
                    <button class="end_game btn btn-danger">{% trans %}End game{% endtrans %}</button>
                {% endif %}
            {% else %}
                {% if game.isOpen %}
                    <button class="make_claim btn btn-sm btn-primary"
                            data-url="{{ path('cabinet/claim', {gameId: game.id, userId: user.id}) }}"
                            data-user-id="{{ user.id }}">{% trans %}Claim participation{% endtrans %}</button>
                {% endif %}
            {% endif %}
        {% elseif userRole.isPlayer %}
            {% if game.isActive %}
                <a href="/{{ game.module.tag }}/{{ game.id }}"
                   class="btn btn-primary">{% trans %}To Player cabinet{% endtrans %}</a>
            {% endif %}
        {% endif %}
    </div>
</div>