{% extends 'layout.html.twig' %}

{% block title %}{% trans %}User cabinet{% endtrans %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="block2 col-4 pb-5">
            <h2>{{ account.displayName }} <a href="{{ path('app_logout') }}"
                                              class="active_span">{% trans %}Logout{% endtrans %}</a></h2>

            <h3>{% trans %}Games, you master{% endtrans %}:</h3>

            <div class="list-group mb-2">
                {% for game in masterGames %}
                    <div class="game_select list-group-item p-2" data-game-id="{{ game.tag }}">
                        <a href="{{ path('cabinet', {gameId: game.tag}) }}">{{ game.title }}({{ game.tag }})</a>
                    </div>
                {% else %}
                    <div class="mx-auto">{% trans %}You don't host any games{% endtrans %}</div>
                {% endfor %}
            </div>

            <button class="create_game btn btn-primary">{% trans %}Create new game{% endtrans %}</button>

            <h3>{% trans %}Games, you play{% endtrans %}:</h3>

            <div class="list-group mb-2">
                {% for game in playingGames %}
                    <div class="game_select list-group-item p-2" data-game-id="{{ game.tag }}">
                        <a href="{{ path('cabinet', {gameId: game.tag}) }}">{{ game.title }}({{ game.tag }})</a>
                    </div>
                {% else %}
                    <div class="mx-auto">{% trans %}You don't participate in any games{% endtrans %}</div>
                {% endfor %}
            </div>

            <h3>{% trans %}Games, open for register{% endtrans %}:</h3>

            <div class="list-group mb-2">
                {% for game in openGames %}
                    <div class="game_select list-group-item p-2" data-game-id="{{ game.tag }}">
                        <a href="{{ path('cabinet', {gameId: game.tag}) }}">{{ game.title }}({{ game.tag }})</a>
                    </div>
                {% else %}
                    <div class="mx-auto">{% trans %}There aren't any games, open for registration{% endtrans %}</div>
                {% endfor %}
            </div>

            <h3>{% trans %}Games, you claim participation{% endtrans %}:</h3>

            <div class="list-group mb-2">
                {% for game in claimingGames %}
                    <div class="game_select list-group-item p-2" data-game-id="{{ game.tag }}">
                        <a href="{{ path('cabinet', {gameId: game.tag}) }}">{{ game.title }}({{ game.tag }})</a>
                    </div>
                {% else %}
                    <div class="mx-auto"> {% trans %}You don't claim participation in any games{% endtrans %}</div>
                {% endfor %}
            </div>
        </div>
        <div class="block2 col-8">
            <h3>{% trans %}Game information{% endtrans %}:</h3>

            <div id="cabinet_game_info">
                {% if game is not empty %}
                    {{ include('cabinet/_game_info.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal" id="cabinet_game_creation" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}New game creation{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#{ form(gameForm) }#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}