{% extends 'base.html.twig' %}
{% trans_default_domain 'app' %}

{% block body %}

<div class="wrap">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left"></p>

        <p class="pull-right">Copyright by Onad &copy; . No Rights Reserved.</p>
    </div>
</footer>

{% endblock %}